[submodule "third_party/tylib"]
	path = third_party/tylib
	url = git@github.com:justme0/tylib
[submodule "third_party/usrsctp"]
	path = third_party/usrsctp
	url = https://github.com/sctplab/usrsctp
[submodule "third_party/rtmpdump"]
	path = third_party/rtmpdump
	url = https://git.ffmpeg.org/rtmpdump.git
