[submodule "third_party/tylib"]
	path = third_party/tylib
	url = git@github.com:justme0/tylib
[submodule "third_party/usrsctp"]
	path = third_party/usrsctp
	url = https://github.com/sctplab/usrsctp
[submodule "third_party/rtmpdump"]
	path = third_party/rtmpdump
	url = https://git.ffmpeg.org/rtmpdump.git
[submodule "third_party/ffmpeg"]
	path = third_party/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
[submodule "third_party/libvpx"]
	path = third_party/libvpx
	url = https://chromium.googlesource.com/webm/libvpx.git
[submodule "third_party/srt"]
	path = third_party/srt
	url = https://github.com/Haivision/srt
[submodule "third_party/x264"]
	path = third_party/x264
	url = https://code.videolan.org/videolan/x264.git
