[submodule "third_party/tylib"]
	path = third_party/tylib
	url = https://github.com/justme0/tylib
	branch = main
[submodule "third_party/rsfec-cpp"]
	path = third_party/rsfec-cpp
	url = https://github.com/justme0/rsfec-cpp
	branch = main
[submodule "third_party/usrsctp"]
	path = third_party/usrsctp
	url = https://github.com/sctplab/usrsctp
[submodule "third_party/rtmpdump"]
	path = third_party/rtmpdump
	url = https://github.com/mirror/rtmpdump
[submodule "third_party/ffmpeg"]
	path = third_party/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
[submodule "third_party/libvpx"]
	path = third_party/libvpx
	url = https://github.com/webmproject/libvpx
	branch = main
[submodule "third_party/srt"]
	path = third_party/srt
	url = https://github.com/Haivision/srt
[submodule "third_party/x264"]
	path = third_party/x264
	url = https://github.com/mirror/x264.git
[submodule "third_party/libco"]
	path = third_party/libco
	url = https://github.com/Tencent/libco.git
[submodule "third_party/gperftools"]
	path = third_party/gperftools
	url = https://github.com/gperftools/gperftools.git
[submodule "third_party/libsrtp"]
	path = third_party/libsrtp
	url = https://github.com/cisco/libsrtp.git
[submodule "third_party/opus"]
	path = third_party/opus
	url = https://github.com/xiph/opus
